Question 1: <%= Question.first.question %> <br>
<div class="radio">
  <label>
    <input type="radio" name="question_one" value="A">
    A. <%= Question.first.answer %>
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_one" value="B">
    B. Orange
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_one" value="C">
    C. Red
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_one" value="D">
    D. Green
  </label>
</div>

<br>
Question 2: <%= Question.second.question %> <br>
<div class="radio">
  <label>
    <input type="radio" name="question_two" value="A">
    A. <%= Question.second.answer %>
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_two" value="B">
    B. Bishop
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_two" value="C">
    C. Farnsworth
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_two" value="D">
    D. Broyles
  </label>
</div>

<br>
Question 3: <%= Question.third.question %> <br>
<div class="radio">
  <label>
    <input type="radio" name="question_three" value="A">
    A. 1977
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_three" value="B">
    B. <%= Question.third.answer %>
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_three" value="C">
    C. 1979
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_three" value="D">
    D. 1980
  </label>
</div>

<br>
Question 4: <%= Question.fourth.question %> <br>
<div class="radio">
  <label>
    <input type="radio" name="question_four" value="A">
    A. <%= Question.fourth.answer %>
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_four" value="B">
    B. St. John's
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_four" value="C">
    C. St. Cecil's
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_four" value="D">
    D. St. Catherine's
  </label>
</div>

<br>
Question 5: <%= Question.fifth.question %> <br>
<div class="radio">
  <label>
    <input type="radio" name="question_five" value="A">
    A. 10
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_five" value="B">
    B. 13
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_five" value="C">
    C. 15
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="question_five" value="D">
    D. <%= Question.fifth.answer %>
  </label>
</div>
